<html>
<head>
	<title>{{ title }}</title>
   <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
   <script>
      $(function(){
         
         var $form = $("#todo-form");
         $form.on('submit', function(event){
            event.preventDefault();
            var data = $form.serializeArray();
            $.post("http://localhost:8080/todo", data)
               .done(function(data){
                  console.log(data);
               });
         });
      });
   </script>
</head>
<body>
	<div>
		<p>Welcome to Leptus Todo List</p>
      <form id="todo-form">
         
         <label>Content</label>
         <div><input type="text" name="content"/></div>
         
         <label>Priority</label>
         <div><input type="text" name="priority"/></div>
         
         <label>Status</label>
         <div><input type="text" name="status"/></div>

         <br/>
         <div><button type="submit">Save</button></div>

      </form>
	</div>
</body>
</html>
